.headshot {
  max-height: 240px;
  width: auto;
  margin-bottom: 20px;
  border: 1px;
}

.summary {
  text-align: left;
}

.fa-linkedin {
  color: black;
  font-size: 30px;
}

.fa-github {
  color: black;
  font-size: 30px;
  margin-left: 20px;
}

.fa-linkedin:hover {
  opacity: 0.7;
}

.fa-github:hover {
  opacity: 0.7;
}

/*Devicon size */
.devicon-html5-plain {
  font-size: 7rem;
}

.devicon-css3-plain {
  font-size: 7rem;
}

.devicon-ruby-plain {
  font-size: 7rem;
}

.devicon-javascript-plain {
  font-size: 7rem;
}

.devicon-jquery-plain {
  font-size: 7rem;
}

.devicon-rails-plain {
  font-size: 7rem;
}

.devicon-nodejs-plain {
  font-size: 7rem;
}

.devicon-express-original {
  font-size: 7rem;
}

.devicon-react-plain {
  font-size: 7rem;
}

.devicon-mongodb-plain {
  font-size: 7rem;
}

.devicon-postgresql-plain {
  font-size: 7rem;
}

.devicon-bootstrap-plain {
  font-size: 7rem;
}

.devicon-sass-plain {
  font-size: 7rem;
}

.devicon-git-plain {
  font-size: 7rem;
}

.devicon-github-plain {
  font-size: 7rem;
}

.devicon-heroku-plain {
  font-size: 7rem;
}

.devicon-container {
  margin-top: 4em;
}
