header .header-content .header-content-inner p {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}

.portfolio-btn-container {
  margin-top: 20px;
  text-align: center;
}

.portfolio-btn {
  border: 2px solid #fff;
}

.portfolio-btn:focus {
  outline: none;
}

.portfolio-btn:hover {
  color: #F2784B;
}

.portfolio-btn:hover {
  background-color: #fff;
  border: 2px solid #fff;
}

.summary-text {
  font-weight: 100;
}

.headshot {
  max-height: 240px;
  width: auto;
  margin-bottom: 20px;
  border: 1px;
}

.summary {
  text-align: left;
}

.bg-primary {
    background-color: #4471bf;
}

.fa-linkedin {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.fa-github {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.fa-linkedin:hover {
  opacity: 0.7;
}

.fa-github:hover {
  opacity: 0.7;
}

/*Devicon size */
.devicon-html5-plain,
.devicon-css3-plain,
.devicon-ruby-plain,
.devicon-javascript-plain,
.devicon-jquery-plain,
.devicon-rails-plain,
.devicon-nodejs-plain,
.devicon-react-plain,
.devicon-mongodb-plain,
.devicon-postgresql-plain,
.devicon-bootstrap-plain,
.devicon-sass-plain,
.devicon-git-plain,
.devicon-github-plain,
.devicon-heroku-plain,
.devicon-express-original,
.devicon-amazonwebservices-original {
  font-size: 7rem;
}

.devicon-container {
  margin-top: 4em;
}
